Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  performance-*,
  readability-*,
  -performance-no-int-to-ptr,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers,
  -bugprone-easily-swappable-parameters

WarningsAsErrors: ''
FormatStyle: file
